html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  font-family: "Press Start 2P";
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  color: #ECEFF1;
}
